<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0" metadata-complete="true">

	<display-name>photo</display-name>
	
	<!-- picture show start -->
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoShowServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.PhotoShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoShowServlet</servlet-name>
		<url-pattern>/photoShow</url-pattern>
	</servlet-mapping>
	
	<!-- picture show end -->
	
	<!-- photo manager parts start -->
	<servlet>
		<servlet-name>PhotoAddServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.photo.PhotoAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoAddServlet</servlet-name>
		<url-pattern>/photo/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoModifyServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.photo.PhotoModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoModifyServlet</servlet-name>
		<url-pattern>/photo/modify</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoDeleteServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.photo.PhotoDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoDeleteServlet</servlet-name>
		<url-pattern>/photo/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PhotoListServlet</servlet-name>
		<servlet-class>com.chidi.it.controller.photo.PhotoListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoListServlet</servlet-name>
		<url-pattern>/photo/list</url-pattern>
	</servlet-mapping>
	<!-- photo manager parts end -->
	
	<listener>  
	    <listener-class>com.chidi.it.util.InitDataSourceListener</listener-class>  
	</listener>  

	<!-- session超时定义,单位为分钟 begin -->
	<session-config>
		<session-timeout>40</session-timeout>
	</session-config>
	<!-- session超时定义,单位为分钟 end -->
	
	<!-- 出错页面定义 begin -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/exception/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/exception/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/exception/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/exception/403.jsp</location>
	</error-page>
	<!-- 出错页面定义 end -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
